body{
    background-color: black;
}
.seja--protagonista{
    color: aliceblue;
}

.custom-button {
    background-color: #f5098b;
    border-style: double;
    color: rgb(248, 244, 244);
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 50% 50% 50%;
    border-color: rgb(252, 251, 251);
  }

.custom-button:hover {
    background-color: #000000;
    text-align: center;
  }

  .center-container{
    text-align: center;
    background-color: #00000000;
  }

  .escola-titulo{
    text-align: center;
    color: azure;
    font-size: xx-large;
    top: 10px;
  }

  .texto{
    color: aliceblue;
    font-size: larger;
  }